<div class="b-breadcrumb">
    <div class="uk-container uk-container-center">
        <ul class="uk-breadcrumb">
            <li><a href="">Главная</a></li>
            <li class="uk-active"><span>Каталог</span></li>
        </ul>
    </div>
</div>