@import _imports.sass
@media (max-width: 1220px)
    .b-advantages__adv-list-item-wrapper
        width: 175px

@media (max-width: 1250px)
    .b-first-screen__content
        padding: 0 25px

@media (max-width: $breakpoint-medium-max)


    .b-catalog__contain-main
        &-item
            flex-direction: column
            .btn
                max-width: 100%

        &-img
            width: 100%
            max-width: 100%
        &-info
            width: 100%
            max-width: 100%

    .b-catalog__contain-main
        width: calc(100% - 245px)
        &-img
            width: 100%
            max-width: 100%
            padding: 20px 25px
            justify-content: center
            .img-wrapper
                max-width: 100%
        &-info
            width: initial
            max-width: 100%


    .b-socials
        justify-content: center


    .off-canvas-toggle
        display: inline-block


    .b-catalog, .b-advantages, .b-benefit, .b-additional-service, .b-contacts, .b-catalogue-preview, .b-static
        padding-bottom: 20px
        padding-top: 20px

    .b-contacts
        padding-bottom: 0

    .b-page-header
        margin-bottom: 0

    .b-page-content
        padding-top: 0


    .b-page-footer__tags
        display: none

    .b-page-footer__dark-panel
        padding-top: 15px
        padding-bottom: 15px

    .b-page-footer__dark-panel-column-wrapper
        .b-page-footer__dark-panel-column
            padding: 0
        &:first-child, &:last-child
            .b-page-footer__dark-panel-column-contain
                border: none
                justify-content: center
                align-items: center
                text-align: center
        &:last-child
            .b-page-footer__dark-panel-column-contain
                padding-top: 0
                &:before
                    margin-bottom: 15px
                    margin-top: 15px
                    content: ''
                    display: block
                    width: 80%
                    height: 1px
                    background-color: #555555
                    box-shadow: 0 1px 0 0 rgba(34, 34, 34, 1)

        &:first-child
            .b-page-footer__dark-panel-column-contain
                padding: 0
                &:after
                    margin-bottom: 15px
                    margin-top: 15px
                    content: ''
                    display: block
                    width: 80%
                    height: 2px
                    background-color: #555555
                    box-shadow: 0 1px 0 0 rgba(34, 34, 34, 1)

        .b-page-footer__dark-panel-column-contain
            border: none
            justify-content: center
            padding: 0

    .tablet-items-top
        align-items: flex-start

    .tablet-row
        flex-direction: row

    .icon-statistic
        &:not(:last-child)
            margin-right: 40px

    .tablet-center
        justify-content: center


    .b-page-footer__dark-panel-column-item
        &:not(:last-child)
            margin-right: 20%

    .b-page-header__navbar
        .uk-parent
            display: block



@media (max-width: $breakpoint-small-max)

    @each $fz in (40)
        .sm-fz#{$fz}
            font-size: $fz + px

    .b-contacts
        margin-bottom: 0

    .b-header-logo
        font-size: 40px
        width: 260px

    .b-catalog__contain-sidebar
        width: 100%
        margin-bottom: 30px

    .b-catalog__contain
        flex-direction: column
        align-items: center

    .b-catalog__contain-main
        width: 100%
        &-img
            width: 100%
            max-width: 100%
            padding: 20px 25px
            justify-content: center
            .img-wrapper
                max-width: 100%
        &-info
            width: initial
            max-width: 100%



    .b-catalog__contain-main-item
        padding-bottom: 20px
        flex-direction: column

    .b-catalog__contain-main-info
        padding: 0 25px

    .b-first-screen__content
        padding-left: 25px
        padding-right: 25px

    .b-first-screen
        min-height: 360px
        .uk-container
            min-height: 360px

    .content-title
        font-size: 25px
        line-height: 1.2em

    .b-stock
        padding-top: 20px
        padding-bottom: 20px


@media (max-width: $breakpoint-mini-max)
    .b-first-screen__content
        align-items: center
        justify-content: space-around

    .b-first-screen
        position: relative
        .uk-container
            position: static
            min-height: 280px

    .b-first-screen__content
        top: 0
        right: 0
        left: 0
        bottom: 0

    .uk-offcanvas
        .uk-offcanvas-bar
            width: 100%

    .b-contacts__info-item .uk-icon-button //fw
        max-width: 30px
        height: 30px
        font-size: 17px
        line-height: 30px

    .m-txt-justify
        text-align: justify

    .b-breadcrumb
        margin-bottom: 15px

    .b-catalogue-preview__title
        top: 0

    @each $mb in (0, 25, 20, 15, 35)
        .m-mb#{$mb}
            margin-bottom: $mb + px

    @each $fz in (16, 15, 18, 25, 35, 30)
        .m-fz#{$fz}
            font-size: $fz + px

    [class*="lh"]
        line-height: 1.2em

    .b-footer-logo
        line-height: 1em
        width: 197px
        font-size: 30px
        margin-bottom: 10px

    .b-content-list
        font-size: 15px
        line-height: 1.6em

    .b-catalogue-preview__item
        .img-wrapper
            width: 200px
            margin: 0 auto
            height: auto

    .content-title
        font-size: 22px

    .b-catalogue-preview__caption
        padding-top: 10px
        padding-bottom: 10px

    .b-advantages-markered-list__item
        align-items: flex-start

    .b-advantages-markered-list__number
        transform: translateY(20%)
        font-size: 15px
        max-width: 25px
        height: 25px
        margin-right: 15px
        line-height: 17px

    .b-catalog__contain-main-item:not(:last-child)
        margin-bottom: 20px



    .b-page-header__navbar
        padding: 0 15px

    .b-catalog__contain-main-info-item
        span
            font-size: 15px

    .b-catalog__contain-main-info
        padding: 0 15px

    .b-catalog__contain-main-img
        padding: 15px

    .btn
        font-size: 18px

    .fz25
        font-size: 18px



@media (max-width: 400px)

    .b-header-logo
        width: 245px

    .b-header-logo
        font-size: 40px

    .sm-fz33
        font-size: 33px


