<div class="b-page-footer">
    <div class="b-page-footer__dark-panel panel">
        <div class="uk-container uk-container-center">
            <div class="uk-grid">
                <div class="panel__column-wrapper uk-width-small-1-1 uk-width-medium-1-3 fx-strech">
                    <div class="panel__column column">
                        <div class="column__contain">
                            <div class="b-footer-logo fz40 txt-white mb20">
                                <p class="lh-normal">Аренда</p>
                                <p class="tar lh22">спецтехники</p>
                            </div>
                            <p class="fz15 lh18 txt-white">
                                © 2015 ООО «Компания «МТА» <br>
                                115533, г. Москва, проспект Андропова, дом 22
                            </p>
                            <a href="tel:85655556622" class="fz30 lh36">8 (565) 555-66-22</a>
                        </div>
                    </div>

                </div>
                <div class="panel__column-wrapper uk-width-small-1-1 uk-width-medium-1-3 fx-strech">
                    <div class="panel__column column">
                        <div class="column__contain links">
                            <div class="uk-grid" data-uk-grid="{gutter: 90}">
                                {% for i in 1..2 %}
                                    <div class="uk-width-small-1-1 uk-width-small-1-2">
                                        <div class="links__item fx-column">
                                            <a href="#" class="fz20 lh24 txt-white">Статьи</a>
                                            <a href="#" class="fz20 lh24 txt-white">Статьи</a>
                                            <a href="#" class="fz20 lh24 txt-white">Статьи</a>
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="uk-width-small-1-1 uk-width-small-1-2">


                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="panel__column-wrapper uk-width-small-1-1 uk-width-medium-1-3 fx-strech">
                    <div class="panel__column column">
                        <div class="column__contain">
                            <div class="b-socials">
                                <a href="" class="b-socials-item uk-icon-button uk-icon-instagram"></a>
                                <a href="" class="b-socials-item uk-icon-button uk-icon-vk"></a>
                                <a href="" class="b-socials-item uk-icon-button uk-icon-odnoklassniki"></a>
                                <a href="" class="b-socials-item uk-icon-button uk-icon-at"></a>
                                <a href="" class="b-socials-item uk-icon-button uk-icon-facebook"></a>
                                <a href="" class="b-socials-item uk-icon-button uk-icon-github"></a>
                                <a href="" class="b-socials-item uk-icon-button uk-icon-github"></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="b-page-footer__tags tags">
        <div class="uk-container uk-container-center">
            <div class="tags__title mb25">
                <p class="fz30 lh36 txt-white">
                    Аренда спецтехники:
                </p>
            </div>
            <div class="uk-grid">
                {% for i in 1..4 %}
                    <div class="uk-width-small-1-1 uk-width-medium-1-4 lh23 fz15 txt-white fx-column">
                        <a href="#" class="txt-white">Аренда экскаватора</a>
                        <a href="#" class="txt-white">Аренда гусеничного экскаватора</a>
                        <a href="#" class="txt-white">Аренда колесного экскаватора</a>
                        <a href="#" class="txt-white">Аренда мини-экскаватора</a>
                        <a href="#" class="txt-white">Аренда экскаватора-погрузчика</a>
                        <a href="#" class="txt-white">Аренда экскаватора-планировщика</a>
                        <a href="#" class="txt-white">Аренда фронтального погрузчика</a>
                        <a href="#" class="txt-white">Аренда автовышки</a>
                        <a href="#" class="txt-white">Аренда автокрана</a>
                        <a href="#" class="txt-white">Аренда манипулятора</a>
                        <a href="#" class="txt-white">Аренда башенного крана</a>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
</div>