<div class="b-page-header p-rel">
    <div class="b-first-screen tar ">
        <div class="uk-container uk-container-center p-rel">
            <div class="fx-start">
                <div class="b-page-header__panel-actions panel-actions">
                    <a href="" class="panel-actions__item uk-icon-button uk-icon-github"></a>
                    <a href="" class="panel-actions__item uk-icon-button uk-icon-github"></a>
                    <a href="" class="panel-actions__item uk-icon-button uk-icon-github"></a>
                </div>
            </div>
            <div class="b-first-screen__content fx-column fx-justify">
                <div class="fx-end">
                    <h1 class="txt-brown tal lh-normal">Аренда <br> спецтехники</h1>
                </div>
                <a href="#" class="fz60 txt-white lh-normal">8 (565) 555-66-22</a>
            </div>
        </div>
    </div>
    <nav class="b-page-header__navbar navbar ">
        <div class="navbar-inner">
            <ul class="navbar__list list">
                <li class="list__item item">
                    <a href="" class="item__link">Статьи</a>
                </li>
                <li class="list__item item">
                    <a href="" class="item__link">Аренда техники</a>
                </li>
                <li class="list__item item">
                    <a href="" class="item__link">Услуги</a>
                </li>
                <li class="list__item item">
                    <a href="" class="item__link">Сотрудничество</a>
                </li>
                <li class="list__item item">
                    <a href="" class="item__link">Вакансии</a>
                </li>
                <li class="list__item item">
                    <a href="" class="item__link">Контакты</a>
                </li>
            </ul>
        </div>
    </nav>

</div>