<div class="b-page-header p-rel">
    <div class="b-first-screen ">
        <div class="uk-container uk-container-center p-rel">
            <div class="fx-justify">
                <div class="b-page-header__panel-actions panel-actions">
                    <a href="#" class="b-page-header__panel-actions-item uk-icon-button uk-icon-home"></a>
                    <a href="#" class="b-page-header__panel-actions-item uk-icon-button uk-icon-share-alt"></a>
                    <a href="#" class="b-page-header__panel-actions-item uk-icon-button uk-icon-envelope-o"></a>
                </div>
                <a href="#" class="uk-button off-canvas-toggle uk-navbar-toggle" data-uk-offcanvas="{target:'#off-canvas-bar'}"></a>
            </div>

            <div class="b-first-screen__content fx-column fx-justify">
                <div class="b-header-logo fz60 txt-brown mb20 ">
                    <p class="">Аренда</p>
                    <p class="tar">спецтехники</p>
                </div>
                <a href="#" class="fz60 txt-white lh-normal no-tdu sm-fz40 m-fz30">8 (565) 555-66-22</a>
            </div>
        </div>
    </div>
    <nav class="b-page-header__navbar uk-visible-large">
        <div class="b-page-header__navbar-inner">
            <div class="b-page-header__navbar-list-wrapper uk-nav" >
                <ul class="b-page-header__navbar-list ">
                    <li class="b-page-header__navbar-item">
                        <a href="#" class="b-page-header__navbar-link">
                            Статьи
                        </a>
                    </li>
                    <li class="b-page-header__navbar-item">
                        <a href="#" class="b-page-header__navbar-link">
                            Аренда техники
                        </a>
                    </li>
                    <li class="b-page-header__navbar-item">
                        <a href="#" class="b-page-header__navbar-link">
                            Услуги
                        </a>
                    </li>
                    <li class="b-page-header__navbar-item">
                        <a href="#" class="b-page-header__navbar-link">
                            Сотрудничество
                        </a>
                    </li>
                    <li class="b-page-header__navbar-item">
                        <a href="#" class="b-page-header__navbar-link">
                            Вакансии
                        </a>
                    </li>
                    <li class="b-page-header__navbar-item">
                        <a href="#" class="b-page-header__navbar-link">
                            Контакты
                        </a>
                    </li>
                </ul>
                <div class="uk-parent page-header__navbar-item hidden" data-uk-dropdown="{justify:'#navbar', mode:'click'}">
                    <div class="uk-dropdown uk-dropdown-navbar">
                        <ul class="uk-nav uk-nav-dropdown">
                            <li>
                                <a href="#" class="list-dd-item">Статьи</a>
                            </li>
                            <li>
                                <a href="#" class="list-dd-item">Аренда техники</a>
                            </li>
                            <li>
                                <a href="#" class="list-dd-item">Услуги</a>
                            </li>
                            <li>
                                <a href="#" class="list-dd-item">Сотрудничество</a>
                            </li>
                            <li>
                                <a href="#" class="list-dd-item">Вакансии</a>
                            </li>
                            <li>
                                <a href="#" class="list-dd-item">Контакты</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>

</div>