<div class="b-page-header p-rel">
    <div class="b-first-screen tar ">
        <div class="uk-container uk-container-center p-rel">
            <div class="fx-start">
                <div class="b-page-header__panel-actions panel-actions">
                    <a href="" class="panel-actions__item uk-icon-button uk-icon-home"></a>
                    <a href="" class="panel-actions__item uk-icon-button uk-icon-share-alt"></a>
                    <a href="" class="panel-actions__item uk-icon-button uk-icon-envelope-o"></a>
                </div>
            </div>
            <div class="b-first-screen__content fx-column fx-justify">
                <div class="fx-end">
                    <h1 class="txt-brown tal lh-normal">Аренда <br> спецтехники</h1>
                </div>
                <a href="#" class="fz60 txt-white lh-normal">8 (565) 555-66-22</a>
            </div>
        </div>
    </div>
    <nav class="b-page-header__navbar navbar ">
        <div class="navbar-inner">
            <nav class="navbar__list list uk-nav uk-nav-dropdown">
                <a href="#" class="list__item item">
                    <span class="item__contain">Статьи</span>
                </a>
                <a href="#" class="list__item item">
                    <span class="item__contain">Аренда техники</span>
                </a>
                <a href="#" class="list__item item">
                    <span class="item__contain">Услуги</span>
                </a>
                <a href="#" class="list__item item">
                    <span class="item__contain">Сотрудничество</span>
                </a>
                <a href="#" class="list__item item">
                    <span class="item__contain">Вакансии</span>
                </a>
                <a href="#" class="list__item item">
                    <span class="item__contain">Контакты</span>
                </a>
                <div class="uk-dropdown">
                    <ul class="uk-nav uk-nav-dropdown">...</ul>
                </div>
            </nav>
        </div>
    </nav>

</div>